
body {
  width:100%;
  background-color: yellow;
}


img {
  float: left;
  margin: 2px;
  padding: 0;
}

button {
  position: absolute;
  top: 0;
  right: 0;
}

article {
  position: relative;
  border: 1px dotted black;
  background-color: rgb(55, 120, 150);
  float: left;
  width: calc(50% - 20px);
  overflow-x: hidden;
}

.suite {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 2s, color 2s;
  color: rgb(200, 200, 0);
}

.suite:hover {
  transform: scale(2);
}
